*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-family:Arial, Helvetica, sans-serif;
	background-color:#f5f7fa;
}

/*Navigation Bar*/
.top-nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:#c90b34;
	padding:15px 30px;
	min-height: 50px;
	position:sticky;
	top:0;
	z-index:1000;
}

.category-nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:#0b73c9;
	padding:20px 50px;
	min-height: 50px;
	position:sticky;
	top:0;
	z-index:1000;
}

.logo{
	width:70px;
	height:70px;
}
.banner{
	width:100%;
}
.banner img{
	width:100%;
	height:700px;
	object-fit:cover;
	display:block;
}
.logo span{
	color:#dddddd;
	font-size: 11px;
}
.top{
	list-style:none;
	display:flex;
	gap:30px;
}
.top a{
	transition:0.3s;
	color:white;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.top a:hover{
	color:#FFD700;
}

.menu{
	list-style:none;
	display:flex;
	gap:30px;
}
.menu a{
	transition:0.3s;
	color:white;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.menu a:hover{
	color:#FFD700;
}

/*Hero section*/
.hero{
text-align:center;
padding:20px 20px;
}

button{
	transition:0.3s;
	background:#ff6600;
	color:white;
	border:none;
	padding:15px 35px;
	font-size:1.2rem;
	border-radius:8px;
	cursor:pointer;
	margin-top:25px;
	transition:0.3s;
}
button:hover{
	transform:scale(1.08);
	box-shadow:0 8px 18px rgba(0, 0, 0, 0.25);
}
img{
	max-width:100%;
	height:auto;
}

.container{
	width:90%;
	max-width:1200px;
	margin:auto;

}

.products{
	display:grid;  /* Use flexbox for layout, grid can also be used */
	grid-template-columns:repeat(4, 1fr);
	gap:20px;
}
	/*Phone*/
	@media(max-width: 768px){
	products{
		flex-direction:column;
	}
}
/*Tablet*/
@media(max-width: 992px){
	.products{
		flex-direction:column;
		grid-template-columns:repeat(2, 1fr);
	}
}

/* Footer Styles */
footer {
	text-align:center;
	padding:20px;
	background-color: #111;
	color:white;
}